.nav-list {
  margin-left: 75%;
  margin-top: 10px;
}

nav {
  background-image: url("/public/imgs/nav-bg.jpg");
}

.font {
  font-family: "Maven Pro", sans-serif;
}

.CatBtn {
  border: none;
  padding: 0;
  text-align: left;
}

.catLink {
  text-decoration: none;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgb(172, 171, 171);
}
